<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" th:href="@{/auth/login.css}">
    <title>Doc Schedule - Login</title>
    <style>

    </style>
</head>
<body>

    <header>
        <h1>Doc Schedule</h1>
        <h2>Login</h2>
    </header>

    <div class="box-btns">
        <a href="http://localhost:8080/oauth2/authorization/github">Faça login com github</a>
        <a href="http://localhost:8080/oauth2/authorization/google">Faça login com google</a>
    </div>

</body>