<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" th:href="@{/auth/logout.css}">
    <title>Doc Schedule - Logout</title>
</head>
<body>

    <header>
        <h1>Doc Schedule</h1>
        <h2>Logout</h2>
    </header>

    <main>
        <p>Tem certeza que gostaria de sair do app?</p>
        
        <div class="btns-action">
            <a href="/consultas" class="nes-btn">
                voltar
            </a>
            <form th:action="${'/logout'}" method="post">
                <button>
                    sair
                </button>
            </form>
        </div>
    </main>

</body>