<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/consulta/form.css}">
    <title>Doc Schedule - Consultas</title>
</head>
<body>
    <header>
        <h1>Doc Schedule</h1>
        <h2>Agende aqui uma nova consulta</h2>
    </header>

    <form action="/consultas" method="POST" th:object="${consulta}">
        <div>
            <label for="especialidade">Especialidade</label>
            <select th:field="*{especialidade}" th:classappend="${#fields.hasErrors('especialidade')} ? is-erro">
                <option value="">Selecione uma Especialidade</option>
                <option value="cardiologia">Cardiologia</option>
                <option value="dermatologia">Dermatologia</option>
                <option value="endocrinologia">Endocrinologia</option>
                <option value="gastroenterologia">Gastroenterologia</option>
                <option value="neurologia">Neurologia</option>
                <option value="ortopedia">Ortopedia</option>
                <option value="pediatria">Pediatria</option>
                <option value="psiquiatria">Psiquiatria</option>
            </select>
            <span th:errors="*{especialidade}"></span>
        </div>
    
        <div>
            <label for="motivo">Motivo</label>
            <textarea th:field="*{motivo}" type="text" th:classappend="${#fields.hasErrors('motivo')} ? is-erro"></textarea>
            <span th:errors="*{motivo}"></span>
        </div>
    
        <div>
            <label for="dataConsulta">Data da Consulta</label>
            <input th:field="*{dataConsulta}" type="date" th:classappend="${#fields.hasErrors('dataConsulta')} ? is-erro">
            <span th:errors="*{dataConsulta}"></span>
        </div>

        <div class="box-btns">
            <input type="submit" value="Agendar Consulta"/>
            <a class="btn-cancelar" href="/consultas">Cancelar</a>
        </div>
    </form>
</body>
</html>