<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/consulta/form.css}">
    <title>Doc Schedule - Consultas</title>
</head>
<body>
    <header>
        <h1 th:text="#{docSchedule.title}"></h1>
        <h2 th:text="#{docSchedule.header}"></h2>
    </header>

    <form action="/consultas" method="POST" th:object="${consulta}">
        <div>
            <label for="especialidade" th:text="#{form.especialidade.label}"></label>
            <select th:field="*{especialidade}" th:classappend="${#fields.hasErrors('especialidade')} ? is-erro">
                <option value="" th:text="#{form.selectSpecialty}"></option>
                <option value="cardiologia" th:text="#{form.especialidade.cardiologia}"></option>
                <option value="dermatologia" th:text="#{form.especialidade.dermatologia}"></option>
                <option value="endocrinologia" th:text="#{form.especialidade.endocrinologia}"></option>
                <option value="gastroenterologia" th:text="#{form.especialidade.gastroenterologia}"></option>
                <option value="neurologia" th:text="#{form.especialidade.neurologia}"></option>
                <option value="ortopedia" th:text="#{form.especialidade.ortopedia}"></option>
                <option value="pediatria" th:text="#{form.especialidade.pediatria}"></option>
                <option value="psiquiatria" th:text="#{form.especialidade.psiquiatria}"></option>
            </select>
            <span th:errors="*{especialidade}"></span>
        </div>
    
        <div>
            <label for="motivo" th:text="#{form.motivo.label}"></label>
            <textarea th:field="*{motivo}" type="text" th:classappend="${#fields.hasErrors('motivo')} ? is-erro"></textarea>
            <span th:errors="*{motivo}"></span>
        </div>
    
        <div>
            <label for="dataConsulta" th:text="#{form.dataConsulta.label}"></label>
            <input th:field="*{dataConsulta}" type="date" th:classappend="${#fields.hasErrors('dataConsulta')} ? is-erro">
            <span th:errors="*{dataConsulta}"></span>
        </div>

        <div class="box-btns">
            <input type="submit" th:value="#{form.submit}"/>
            <a class="btn-cancelar" href="/consultas" th:text="#{form.cancel}"></a>
        </div>
    </form>
</body>
</html>