<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="consulta/style.css">
    <title>Doc Schedule - Consultas</title>
</head>
<body>
    <header>
        <h1>Doc Schedule</h1>
        <h2>Visualize aqui as suas futuras consultas marcadas</h2>
    </header>

    <a class="btn-new-consulta" th:href="${'/consultas/new'}">Nova consulta</a>

    <div class="warn" th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>

    <section>
        <div class="bloco-consulta" th:each="consulta : ${consultas}">
            <div class="subheader">
                <p class="especialidade" th:text="${consulta.especialidade}"></p>
                <p class="doutor">Dr. Arthur Foschiani</p>
            </div>
            <hr/>
            <p class="data" th:text="${consulta.dataConsulta}"></p>
            <p th:text="${consulta.motivo}">Check-up geral</p>
            <div class="btns-actions">
                <form th:action="${'/consultas/' + consulta.id}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn-cancelar">
                        Cancelar
                    </button>
                </form>
                <a class="btn-alterar">Alterar</a>
            </div>
        </div>
    </section>
</body>
</html>