header {
    background-color: #00003C;
    height: 20vh;
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

header > h1 {
    color: #FFF;
    font-size: 2.5em;
}

header > h2 {
    color: #bdbdbd;
    font-size: 1.5em;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto;
    gap: 2vh;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

form > div > label {
    font-size: 1.3em;
    color: #00003C;
}

form > div > select,
form > div > textarea,
form > div > input {
    border: 1px solid #00003C;
    border-radius: 4px;
    padding: 12px 8px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 5vh;
    max-height: 20vh;
    font-size: 1em;
}

form > .box-btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

form > .box-btns > .btn-cancelar {
    width: 100%;
    text-align: center;
    color: #a70000;
}

form > .box-btns > input[type="submit"] {
    border: 1px solid #00003C;
    border-radius: 4px;
    padding: 12px 8px;
    background-color: #FFF;
    color: #00003C;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1em;
}

form > .box-btns > input[type="submit"]:hover {
    background-color: #00003C;
    color: #FFF;
}