header {
    background-color: #00003C;
    height: 20vh;
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

header > h1 {
    color: #FFF;
    font-size: 2.5em;
}

header > h2 {
    color: #bdbdbd;
    font-size: 1.5em;
    font-weight: 400;
}

.warn {
    display: block;
    margin: 5vh 5vw;
    width: calc(100% - 10vw);
    border-radius: 4px;
    background-color: #00a516;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 12px 8px;
    transition: .2s;
    box-sizing: border-box;
}

.btn-new-consulta {
    display: block;
    margin: 5vh 5vw;
    width: calc(100% - 10vw);
    border: 2px solid #00003C;
    background-color: #00003C;
    border-radius: 4px;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 12px 8px;
    transition: .2s;
    box-sizing: border-box;
}

.btn-new-consulta:hover {
    color: #00003C;
    background-color: #FFF;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: space-between;
    margin: 5vh 5vw;
}

section > .bloco-consulta {
    width: 20%;
    min-width: 230px;
    border: 2px solid #00003C;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    transition: 0.2s;
}

section > .bloco-consulta p {
    text-align: center;
}

section > .bloco-consulta .subheader {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section > .bloco-consulta .especialidade {
    font-size: 1.5em;
    font-weight: 500;
    color: #00003C;
}

section > .bloco-consulta .doutor {
    font-size: 1em;
    font-weight: 400;
    color: #383838;
}

section > .bloco-consulta hr {
    border-top: 1px solid #bdbdbd;
    border-bottom: none;
    width: 70%;
}

section > .bloco-consulta .data {
    font-size: 1.7em;
    font-weight: 600;
    color: #00003C;
}

section > .bloco-consulta .motivo {
    display: flex;
    font-size: 1em;
    font-weight: 400;
}

section > .bloco-consulta > .btns-actions {
    display: flex;
    gap: 16px;
}

section > .bloco-consulta > .btns-actions > a {
    font-size: 1em;
    font-weight: 500;
}

section > .bloco-consulta > .btns-actions > .btn-cancelar {
    color: #9b1111;
}

section > .bloco-consulta > .btns-actions > .btn-alterar {
    color: #dbb300;
}